body {
  background-color: #001823;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
/*BACKGROUND*/
.cube {
  position: absolute;
  top: 80vh;
  left: 80vw;
  width: 70px;
  height: 70px;
  z-index: -1;
  border-radius: 10%;
  border: solid 0px #003298;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(0) rotate(90deg) translate(-50%, -50%);
  transform: scale(0) rotate(90deg) translate(-50%, -50%);
  -webkit-animation: cube 80s ease-in alternate infinite;
  animation: cube 80s ease-in alternate infinite;
}
.cube:nth-child(2n) {
  border-color: #c1d6ff;
}
.cube:nth-child(2) {
  -webkit-animation-delay: 47s;
  animation-delay: 47s;
  width: 40px;
  height: 40px;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 65s;
  animation-delay: 65s;
  width: 30px;
  height: 30px;
  left: 75vw;
  top: 20vh;
}
.cube:nth-child(4) {
  -webkit-animation-delay: 90s;
  animation-delay: 90s;
  width: 15px;
  height: 15px;
  left: 90vw;
  top: 35vh;
}
.cube:nth-child(5) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  width: 50px;
  height: 50px;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  -webkit-animation-delay: 45s;
  animation-delay: 45s;
  width: 20px;
  height: 20px;
  left: 40vw;
  top: 5vh;
}

@-webkit-keyframes cube {
  from {
    -webkit-transform: scale(20) rotate(0deg) translate(-50%, -50%);
    transform: scale(20) rotate(0deg) translate(-50%, -50%);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes cube {
  from {
    -webkit-transform: scale(20) rotate(0deg) translate(-50%, -50%);
    transform: scale(20) rotate(0deg) translate(-50%, -50%);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 1;
  }
}
svg {
  width: 100%;
  height: 100%;
  background: none;
  background-size: cover;
  margin-bottom: 35%;
}

svg path {
  fill: none;
  stroke: black;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/*OVERALL LAYOUT OF PAGES*/
#pages {
  position: relative;
  text-align: center;
  padding-top: 0px;
  top: 60px;
}

.page {
  position: relative;
  display: none;
  width: 500px;
  color: white;
  background: black;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  text-align: center;
}
.page:after {
  position: absolute;
  content: "";
  top: 5vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #046f8c, #046f8c);
  background-size: 200% 200%;
  -webkit-animation: animateGlow 10s ease infinite, fadeIn 0.5s ease-in;
  animation: animateGlow 10s ease infinite, fadeIn 0.5s ease-in;
}
@-webkit-keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.page h1 {
  font-size: 3.5em;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 0 2em;
}
.page input[type="number"] {
  -moz-appearance: textfield;
}
.page input[type="number"]::-webkit-inner-spin-button,
.page input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.page .Quantity {
  display: inline-block;
  margin: 15px 15px 10px;
  position: relative;
  color:#b7b7b7 ;
}
.page .Quantity input {
  color: #dce1d5;
  border-radius: 2px;
  background: transparent;
  border: solid 0px #b7b7b7;
  font-family: "Source Code Pro", monospace;
  font-size: 60px;
  font-weight: 60px;
  min-width: 50px;
  height: 70px;
  float: center;
  padding: 0 0px 0 2px;
  margin: 0;
  text-align: center;
  width: 30px;
}
.page .Quantity input:focus {
  outline: 0;
}

/*FIRST PAGE*/
.firstpage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.firstlogo {
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 10%;
  font-family: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 100px;
  letter-spacing: 1.5px;
  color: #dce1d5;
  line-height: 1;
  -webkit-animation: logo 5s ease-in normal 1;
  animation: logo 5s ease-in normal 1;
}

.firstsub {
  position: relative;
  color: #aab79a;
  font-family: "Source Code Pro", monospace;
  font-size: 24px;
  font-weight: 200;
  min-width: 1px;
  height: 50px;
  float: center;
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  line-height: 1.5;
  -webkit-animation: sub 7s linear normal 1;
  animation: sub 7s linear normal 1;
}

.firstbtn {
  position: relative;
  z-index: 1;
  
  color: #fff;
  cursor: pointer;
  font-family: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin-top: 10%;
  margin-bottom :20%;
  max-width: 160px;
  text-decoration: none;
  text-transform: none;
  width: 100%;
  background: #141414;
  letter-spacing: 1.5px;
  transition: all 150ms linear;
  -webkit-animation: sub 9s linear normal 1;
  animation: sub 9s linear normal 1;
}

.firstbtn:hover {
  background: #1f1f1f;
  border: 1px solid #141414;
  box-shadow: 0px 0px 2px #ebebeb, 0px 0px 2px #ebebeb;
  color: white;
  text-decoration: none;
  transition: all 250ms linear;
}


.semicolon{
  position: relative;
  color: #dce1d5;
  font-size: 60px;
  font-weight: 60px;
  min-width: 50px;
  height: 70px;
  margin-left: 45%;
  width: 60px;

}

.page4{
  width: 1000px;
  float: left; 
}

/* CROSS RHYTHM*/

#startbtn{
  position: relative;
  background-color: #dce1d5;
  color: black;
  padding: 3px 10px;
  font-family: "Source Code Pro", monospace;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px 5px;
  font-size: 16px;
  float: center;
  cursor: pointer; 
}
#backbtn{
  background-color: #dce1d5;
  color: black;
  font-size: 16px;
  cursor: pointer; 
  width: 90px;
margin-left:45%;
}

#backbtn:hover{
  background: black;
  border: 1px solid black;
  box-shadow: 0px 0px 2px #ebebeb, 0px 0px 2px #ebebeb;
  color: #dce1d5;
  text-decoration: none;
  transition: all 250ms linear; 
}
.coset{
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 20px;
  margin-left: 0px;
}
.coset input { 
  opacity: 0;
  width: 0;
  height: 0;

}

.inputcontainer{
  position: relative;
  display: inline-block;
}

.bpmpage1{
  position: relative;
  left: -300px;
}

#coset_switch{
  position: relative;
  margin-left: 300px;
  bottom: 20px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebebeb;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #001823;
}

input:focus + .slider {
  box-shadow: 0 0 1px #001823;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}



#togglebtn{
  position: relative;
  background-color: #dce1d5;
  color: black;
  padding: 3px 10px;
  font-family: "Source Code Pro", monospace;

  text-align: center;
  text-decoration: none;
  margin: 0px 0px 5px;
  font-size: 16px;
  float: center;
  cursor: pointer; 
}
#togglebtn:hover{
  background: black;
  border: 1px solid black;
  box-shadow: 0px 0px 2px #ebebeb, 0px 0px 2px #ebebeb;
  color: #dce1d5;
  text-decoration: none;
  transition: all 250ms linear; 
}

#startbtn:hover{
  background: black;
  border: 1px solid black;
  box-shadow: 0px 0px 2px #ebebeb, 0px 0px 2px #ebebeb;
  color: #dce1d5;
  text-decoration: none;
  transition: all 250ms linear; 
}

/*BUTTONS BETWEEN PAGES*/

#LinBtn,
#IrrBtn,
#ClvBtn {
  position: relative;
  background-color: #dce1d5;
  color: black;
  padding: 3px 43px;
  font-family: "Source Code Pro", monospace;
  font-size: 24px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  float: left;
  cursor: pointer;
  margin: 10px 0px;
}


#LinBtn:hover {
  background: black;
  border: 1px solid black;
  box-shadow: 0px 0px 2px #ebebeb, 0px 0px 2px #ebebeb;
  color: #dce1d5;
  text-decoration: none;
  transition: all 250ms linear;
}

#IrrBtn:hover {
  background: black;
  border: 1px solid black;
  box-shadow: 0px 0px 2px #ebebeb, 0px 0px 2px #ebebeb;
  color: #dce1d5;
  text-decoration: none;
  transition: all 250ms linear;
}

#ClvBtn:hover {
  background: black;
  border: 1px solid black;
  box-shadow: 0px 0px 2px #ebebeb, 0px 0px 2px #ebebeb;
  color: #dce1d5;
  text-decoration: none;
  transition: all 250ms linear;
}

/* ANIMATIONS */
@-webkit-keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes sub {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sub {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo {
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  float: center;
  margin: 0;
  font-family: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 0.6px;
  color: #dce1d5;
  line-height: 3;
}

canvas {
  background: none;
  display: inline-block;
}

.page-background:after {
  position: absolute;
  content: "";
  top: 5vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #046f8c, #046f8c);
  background-size: 200% 200%;
  -webkit-animation: animateGlow 10s ease infinite, fadeIn 0.5s ease-in;
  animation: animateGlow 10s ease infinite, fadeIn 0.5s ease-in;
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-in {
  -webkit-animation: fadeIn 0.5s ease-in;
  animation: fadeIn 0.5s ease-in;
}

.animate-out {
  transition: opacity 0.5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
